@{
    ViewData["Title"] = "About";
}

<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeınleft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">cental <span class="text-primary">Hakkında</span></h1>
                        <p class="mb-0">
                            Cental 2024 yılında, Tolga Ahmet Çetin, Yunus Emre Karadağ, Alperen Demirbaş ve Hasan Mert Korkmaz tarafından kuruldu. Şirketimiz, İstanbul - Beşiktaş - Kadıköy - Bakırköy bölgesinde araç kiralama sektöründe yüksek kaliteli hizmet sunma amacıyla yola çıktı.
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/themes/img/about-icon-1.png" class="img-fluid w-50 h-50" alt="ıcon">
                                </div>
                                <h5 class="mb-3">Vizyonumuz</h5>
                                <p class="mb-0">Yenilikçi hizmet anlayışımızla, araç kiralama sektöründe lider bir marka olmak ve müşteri memnuniyetinde en yüksek standartları sağlamak ve sektörümüzde fark yaratmak.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/themes/img/about-icon-2.png" class="img-fluid h-50 w-50" alt="ıcon">
                                </div>
                                <h5 class="mb-3">Misyonumuz</h5>
                                <p class="mb-0">Müşterilerimize güvenli, konforlu ve uygun fiyatlı araç kiralama hizmetleri sunarak onların seyahat deneyimlerini en üst seviyeye çıkarmak.</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-item my-4">
                        Kuruluşumuzdan bu yana, Cental olarak birçok başarıya imza attık. İlk olarak 2024 yılında küçük bir işletme olarak başladık ve bugün 3 farklı bölgede, 1 şubemizle ve 5 aracımızla hizmet vermekteyiz.
                    </p>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="text-center rounded bg-secondary p-4">
                                <h1 class="display-6 text-white">1</h1>
                                <h5 class="text-light mb-0">Yıllık Tecrübe</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rounded">
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Telefon: +212 553 65 72 </p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> E-posta: cental@gmail.com</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Adres: İstanbul - Beşiktaş </p>
                                <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i> Sosyal Medya: Cental</p>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <a href="~/Home/Index" class="btn btn-primary rounded py-3 px-5">Hemen Kiralamaya Başla</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="d-flex align-items-center">
                                <img src="~/themes/img/attachment-img.jpg" class="img-fluid rounded-circle border border-4 border-secondary" style="width: 100px; height: 100px;" alt="ımage">
                                <div class="ms-4">
                                    <h4>Tolga Ahmet Çetin</h4>
                                    <p class="mb-0">Kurucu Ortaklarından</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeınright" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="~/themes/img/about-img.jpg" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                    <div class="img-2">
                        <img src="~/themes/img/about-img-1.jpg" class="img-fluid rounded w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- fact counter -->
<div class="container-fluid counter bg-secondary py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.1s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-thumbs-up fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">829</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Mutlu Ayrılan Müşteriler</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.3s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-car-alt fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">5</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Araç Sayımız</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.5s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-building fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">3</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Bölgelerimiz</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.7s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-clock fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">589</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Toplam Kilometre</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fact counter -->
<!-- Features Start -->
<div class="container-fluid feature py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Cental <span class="text-primary">Özellikleri</span></h1>
            <p class="mb-0">
                Birinci sınıf hizmet anlayışımızla yüksek standartlarda araç kiralama sunuyoruz. 7/24 yol yardım desteğimizle yolculuğunuz sırasında size güvence sağlıyoruz. Kaliteli araçlarımızı uygun fiyatlarla sunarak, ücretsiz alım ve teslimat hizmetimizle konforlu bir deneyim sunuyoruz.
            </p>
        </div>
        <div class="row g-4 align-items-center">
            <div class="col-xl-4">
                <div class="row gy-4 gx-0">
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <span class="fa fa-trophy fa-2x"></span>
                            </div>
                            <div class="ms-4">
                                <h5 class="mb-3">Birinci Sınıf Hizmetler</h5>
                                <p class="mb-0">Müşteri memnuniyetini ön planda tutarak, yüksek standartlarda araç kiralama hizmeti sunuyoruz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <span class="fa fa-road fa-2x"></span>
                            </div>
                            <div class="ms-4">
                                <h5 class="mb-3">7/24 Yol Yardım</h5>
                                <p class="mb-0">Yolculuğunuz sırasında karşılaşabileceğiniz her türlü sorun için 7/24 yol yardım desteği sağlıyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <img src="~/themes/img/features-img.png" class="img-fluid w-100" style="object-fit: cover;" alt="Img">
            </div>
            <div class="col-xl-4">
                <div class="row gy-4 gx-0">
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item justify-content-end">
                            <div class="text-end me-4">
                                <h5 class="mb-3">Kalite, Minimum Fiyat</h5>
                                <p class="mb-0">Kaliteli araçlarımızı en uygun fiyatlarla sunarak, hem güvenli hem de ekonomik bir deneyim yaşamanızı sağlıyoruz.</p>
                            </div>
                            <div class="feature-icon">
                                <span class="fa fa-tag fa-2x"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item justify-content-end">
                            <div class="text-end me-4">
                                <h5 class="mb-3">Ücretsiz Alım ve Teslimat</h5>
                                <p class="mb-0">Araç alım ve teslimatında size kolaylık sağlamak için ücretsiz alım ve teslimat hizmetimizden yararlanın.</p>
                            </div>
                            <div class="feature-icon">
                                <span class="fa fa-map-pin fa-2x"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- car steps start -->
<div class="container-fluid steps py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeınup" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize text-white mb-3">Cental<span class="text-primary"> Kiralama Süreci</span></h1>
            <p class="mb-0 text-white">
                Araç kiralama sürecimiz son derece basit ve hızlıdır. Rezervasyonunuzu telefonla veya online olarak yapabilirsiniz. Talebinize göre araç seçiminden sigorta seçeneklerine kadar tüm detayları belirleyin. Rezervasyonunuz onaylandıktan sonra, aracı belirtilen tarih ve saatte teslim alabilir veya belirlediğiniz noktada bırakabilirsiniz. Tüm süreç boyunca müşteri destek ekibimiz size yardımcı olmak için hazırdır.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeınup" data-wow-delay="0.1s">
                <div class="steps-item p-4 mb-4">
                    <h4>Bizimle İletişime Geçin</h4>
                    <p class="mb-0">Rezervasyonunuzu telefonla veya online olarak yapabilirsiniz.</p>
                    <div class="setps-number">01.</div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeınup" data-wow-delay="0.3s">
                <div class="steps-item p-4 mb-4">
                    <h4>Aracınızı Seçin</h4>
                    <p class="mb-0">Talebinize uygun araç seçimini kolayca yaparak, ihtiyacınıza en uygun seçenekleri değerlendirin.</p>
                    <div class="setps-number">02.</div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeınup" data-wow-delay="0.5s">
                <div class="steps-item p-4 mb-4">
                    <h4>Keyifli Sürüşler</h4>
                    <p class="mb-0">Sürüşün keyfini çıkarın ve her yolculuğunuzda özgürlüğün tadını çıkarın.</p>
                    <div class="setps-number">03.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- car steps end -->
<!-- team start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeınup" data-wow-delay="0.1s" style="max-width: 800px;">
            <br /><br /><br />
            <h1 class="display-5 text-capitalize mb-3">Müşteri<span class="text-primary"> Destek</span> Ekibimiz</h1>
            <p class="mb-0">
                Müşteri destek ekibimiz, araç kiralama sürecinizde size her adımda yardımcı olmak için burada. Sorularınızı yanıtlamak, sorunlarınıza çözüm bulmak ve ihtiyaçlarınıza hızlıca cevap vermek için deneyimli ve dostane uzmanlarımızla yanınızdayız.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.1s">
                <div class="team-item p-4 pt-0">
                    <div class="team-img">
                        <img src="~/themes/img/team-1.jpg" class="img-fluid rounded w-100" alt="ımage">
                    </div>
                    <div class="team-content pt-4">
                        <h4>Emre Kaya</h4>
                        <p>Müşteri Temsilcisi</p>
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.3s">
                <div class="team-item p-4 pt-0">
                    <div class="team-img">
                        <img src="~/themes/img/team-2.jpg" class="img-fluid rounded w-100" alt="ımage">
                    </div>
                    <div class="team-content pt-4">
                        <h4>Ozan Çelik</h4>
                        <p>Destek Uzmanı</p>
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.5s">
                <div class="team-item p-4 pt-0">
                    <div class="team-img">
                        <img src="~/themes/img/team-3.jpg" class="img-fluid rounded w-100" alt="ımage">
                    </div>
                    <div class="team-content pt-4">
                        <h4>Ege Arslan</h4>
                        <p>Rezervasyon Danışmanı</p>
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.7s">
                <div class="team-item p-4 pt-0">
                    <div class="team-img">
                        <img src="~/themes/img/team-4.jpg" class="img-fluid rounded w-100" alt="ımage">
                    </div>
                    <div class="team-content pt-4">
                        <h4>Burak Aydın</h4>
                        <p>Şikayet Yönetimi Temsilcisi</p>
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team end -->
<!-- Banner Start -->
<div class="container-fluid banner pb-5 wow zoomInDown" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="banner-item rounded">
            <img src="~/themes/img/banner-1.jpg" class="img-fluid rounded w-100" alt="">
            <div class="banner-content">
                <h2 class="text-primary">Aracınızı Kiralayın</h2>
                <h2 class="text-white">Kiralamayla ilgili bir sorunuz mu var?</h2>
                <p class="text-white">Bize mesaj göndermekten çekinmeyin.</p>
                <div class="banner-btn">
                    <a href="tel:+212 553 65 72" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatsApp</a>
                    <a href="~/Home/Corporation" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">Bize Ulaşın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
