
@{
    ViewData["Title"] = "Corporation";
}

<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize text-primary mb-3">Bize Ulaşın</h1>
            <p class="mb-0">Sorularınız veya rezervasyonlarınız için bizimle kolayca iletişime geçebilirsiniz. Destek ekibimiz size yardımcı olmak için her zaman hazır. İletişim bilgileri için aşağıya göz atın veya doğrudan bize ulaşın.</a>.</p>
        </div>
        <div class="row g-5">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-5">
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                            </div>
                            <div>
                                <h4>Adres</h4>
                                <p class="mb-0">İstanbul - Beşiktaş</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fas fa-envelope fa-2x"></i>
                            </div>
                            <div>
                                <h4>E-mail</h4>
                                <p class="mb-0">cental@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fa fa-phone-alt fa-2x"></i>
                            </div>
                            <div>
                                <h4>Telefon</h4>
                                <p class="mb-0">+212 553 65 72</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-secondary p-5 rounded">
                    <h4 class="text-primary mb-4">Mesaj Gönderin</h4>
                    <form>
                        <div class="row g-4">
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="İsim">
                                    <label for="name">İsim</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="phone" class="form-control" id="phone" placeholder="Telefon">
                                    <label for="phone">Telefon</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="project" placeholder="Rezervasyon Detayları">
                                    <label for="project">Rezervasyon Detayları</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Konu">
                                    <label for="subject">Konu</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Mesaj" id="message" style="height: 160px"></textarea>
                                    <label for="message">Mesaj</label>
                                </div>

                            </div>
                            <div class="col-12">
                                <button class="btn btn-light w-100 py-3">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-xl-1 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex flex-xl-column align-items-center justify-content-center">
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-4 me-4 me-xl-0" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-4 me-4 me-xl-0" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-4 me-4 me-xl-0" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-0 me-0 me-xl-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-12 col-xl-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="p-5 bg-light rounded">
                    <div class="bg-white rounded p-4 mb-4">
                        <h4 class="mb-3">Şubemiz 01</h4>
                        <div class="d-flex align-items-center flex-shrink-0 mb-3">
                            <p class="mb-0 text-dark me-2">Adres:</p><i class="fas fa-map-marker-alt text-primary me-2"></i><p class="mb-0">İstanbul - Beşiktaş</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0 text-dark me-2">Telephone:</p><i class="fa fa-phone-alt text-primary me-2"></i><p class="mb-0">+212 553 65 72</p>
                        </div>
                    </div>
                    <div class="bg-white rounded p-4 mb-4">
                        <h4 class="mb-3">Şubemiz 02</h4>
                        <div class="d-flex align-items-center mb-3">
                            <p class="mb-0 text-dark me-2">Adres:</p><i class="fas fa-map-marker-alt text-primary me-2"></i><p class="mb-0">İstanbul - Bakırköy</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0 text-dark me-2">Telephone:</p><i class="fa fa-phone-alt text-primary me-2"></i><p class="mb-0">+212 553 65 72</p>
                        </div>
                    </div>
                    <div class="bg-white rounded p-4 mb-0">
                        <h4 class="mb-3">Şubemiz 03</h4>
                        <div class="d-flex align-items-center mb-3">
                            <p class="mb-0 text-dark me-2">Adres:</p><i class="fas fa-map-marker-alt text-primary me-2"></i><p class="mb-0">İstanbul - Kadıköy</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0 text-dark me-2">Telephone:</p><i class="fa fa-phone-alt text-primary me-2"></i><p class="mb-0">+212 553 65 72</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="rounded">
                    <iframe class="rounded w-100" style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48125.963433626515!2d28.981132351730594!3d41.07177487132337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab63f6f8193f1%3A0x36c864a929a1018c!2zQmXFn2lrdGHFny_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1721513428024!5m2!1str!2str" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->

