
@{
    ViewData["Title"] = "Services";
}

<!-- services start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeınup" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Cental <span class="text-primary">Servisleri</span></h1>
            <p class="mb-0">
                Cental olarak, çeşitli araç kiralama hizmetleri sunuyoruz. Telefonla hızlı ve kolay rezervasyon yapabilirsiniz. Özel tekliflerimizle bütçenize uygun fırsatlar yakalayın. Tek yönlü kiralama seçeneğimizle aracınızı bir bölgeden alıp, başka bir bölgeye bırakabilirsiniz. Hayat sigortası ile ekstra güvenlik sağlayabilirsiniz. Bölgeden bölgeye kiralama ve özgür yolculuklar hizmetlerimizle, esnek ve konforlu seyahat deneyimleri sunuyoruz.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeınup" data-wow-delay="0.1s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-phone-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Telefonla Rezervasyon</h5>
                    <p class="mb-0">
                        Aracınızı hızlıca rezerve etmek için bizi arayın!

                        Telefon: +212 553 65 72<br />
                        Çalışma Saatleri:<br /> Pazartesi - Cuma:
                        09:00 - 19:00<br />
                        Cumartesi:
                        10:00 - 17:00
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeınup" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-money-bill-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Özel Teklifler</h5>
                    <p class="mb-0">
                        Kaçırılmayacak fırsatlar!
                        Mevcut Kampanyalar:<br />
                        Haftaiçi İndirimi: Pazartesi-Cuma günleri %20 indirim.<br />
                        Erken Rezervasyon: Erken rezervasyonlarda ekstra %10 indirim.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeınup" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-road fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Tek Yönlü Kiralama</h5>
                    <p class="mb-0">Tek yönlü araç kiralama hizmetimizle, aracınızı teslim noktası ile alım noktası farklı olan yerlere kolayca bırakabilirsiniz. Yolculuğunuzun bitiş noktası size bağlı, böylece esnek ve rahat bir seyahat deneyimi sunuyoruz.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeınup" data-wow-delay="0.1s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-umbrella fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Hayat Sigortası</h5>
                    <p class="mb-0">Hayat sigortamızla kendinizi ve sevdiklerinizi güvende tutun. Sigorta poliçelerimiz, beklenmedik durumlara karşı koruma sağlar ve size huzur verir. Güvenli bir yaşam için hemen hayat sigortası seçeneğimizden yararlanın.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeınup" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-building fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Bölgeden Bölgeye Kiralama</h5>
                    <p class="mb-0">
                        Bölgeler arası yolculuklarınızda esneklik ve konfor sağlayan bölgeden bölgeye araç kiralama hizmetimizle yolculuklarınızı zahmetsiz hale getiriyoruz. Aracınızı bir bölgeden alıp, başka bir bölgeye kolayca bırakabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeınup" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-car-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Özgür Yolculuklar</h5>
                    <p class="mb-0">Özgür yolculuklar için sunduğumuz araç kiralama hizmetiyle, dilediğiniz yerde durabilir ve istediğiniz rotayı keşfedebilirsiniz. Esnek kiralama seçeneklerimizle, yolculuğunuzun tadını çıkarın ve hareket özgürlüğünüzü keşfedin.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services end -->
<!-- fact counter -->
<div class="container-fluid counter bg-secondary py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.1s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-thumbs-up fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">829</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Mutlu Ayrılan Müşteriler</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.3s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-car-alt fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">5</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Araç Sayımız</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.5s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-building fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">3</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Bölgelerimiz</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeınup" data-wow-delay="0.7s">
                <div class="counter-item text-center">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-clock fa-2x"></i>
                    </div>
                    <div class="counter-counting my-3">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">589</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                    <h4 class="text-white mb-0">Toplam Kilometre</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fact counter -->
<!-- Banner Start -->
<div class="container-fluid banner pb-5 wow zoomInDown" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="banner-item rounded">
            <img src="~/themes/img/banner-1.jpg" class="img-fluid rounded w-100" alt="">
            <div class="banner-content">
                <h2 class="text-primary">Aracınızı Kiralayın</h2>
                <h2 class="text-white">Kiralamayla ilgili bir sorunuz mu var?</h2>
                <p class="text-white">Bize mesaj göndermekten çekinmeyin.</p>
                <div class="banner-btn">
                    <a href="tel:+212 553 65 72" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatsApp</a>
                    <a href="~/Home/Corporation" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">Bize Ulaşın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

