@model RentACar_Entity.ViewModels.LocationViewModel

<h1>Create Location</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Region"></label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
