@model RentACar_Entity.ViewModels.LocationViewModel

<h1>Delete Location</h1>

<h3>Bu lokasyonu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.City
        </dd>
        <dt class="col-sm-2">
            Region
        </dt>
        <dd class="col-sm-10">
            @Model.Region
        </dd>
    </dl>

    <form asp-action="Deleted" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
